!!!
%html
  %head
    %title Barcrawl DB
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/carousel.css", :rel => "stylesheet"}/
    #wrapper
      #header
        %h1{"text-align" => "center", "color" => "#0D7074"} Barcrawl Database
        %h2 A Database for Alcoholics
        %p
          Made by alcoholics for alcoholics

      #side_bar
        %h1 Side Bar
        %p
          This is the side bar of the webpage

      #footer
        %p
          This is the footer.
