!!!
%html
  %head
    %meta{name: "viewport", content:"width=device-width, initial-scale=1.0"}/
    %title Barcrawl DB
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/carousel.css", :rel => "stylesheet"}/
    %link{href: "/css/homepage.css", rel: "stylesheet"}/


  %body
    %nav.navbar.navbar-fixed-top.navbar-inverse{role:"navigation"}
      .container
        .navbar-header
          %a.navbar-brand{href:"/"} BarCrawlDB

        %ul.nav.navbar-nav.navbar-right
          %li
            %a About
          %li
            %a The Power

    .header-image
      .headline
        .container
          %h1 BarCrawlDB
          %h2 The Database of Alcoholics
